.header {
  display: flex;
  flex-wrap: wrap;
  padding: 92px 50px 96px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  flex: 0 0 auto;
  width: 33%;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__link {
  text-underline-position: under;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_nonbullit {
  list-style: none;
}

.header__logo-image {
  height: inherit;
  width: inherit;
}

.header__logo {
  flex: 0 0 auto;
  width: 148px;
  height: 105px;
}

.header__address {
  padding-left: 15.5%;
}

.address {
  font-style: normal;
  justify-content: flex-end;
  text-underline-position: under;
  width: 33%;
}

.cover {
  background: url("../images/cover.jpg") center;
  color: #fff;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  margin-top: 120px;
  justify-content: end;
  align-items: center;
}

.cover__description-text {
  text-align: end;
  word-spacing: 17.5px;
  text-transform: uppercase;
  margin-right: 6%;
  font-size: 22px;
  font-weight: 400;
  line-height: 127.273%;
}

.overlay {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 165px 50px 50px;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  width: 100%;
  max-width: 1310px;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.bet-button {
  color: #fff;
  padding: 12px 32px;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  border-radius: 0;
}

.bet-button:hover {
  background: goldenrod;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  margin-bottom: 30px;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

.lots__card-list-item {
  min-height: 450px;
  min-width: 430px;
  flex: 1 0 0%;
}

.lots__look-more-link {
  text-transform: lowercase;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
}

.card {
  color: #fff;
  height: inherit;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center/cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center/cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center/cover;
}

.card-link {
  height: 100%;
}

.card .overlay {
  display: flex;
  padding: 50px 40px;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.about {
  display: flex;
  padding: 0 50px 182px 50px;
  gap: 25px;
}

.about__column:last-child {
  margin-top: 103px;
}

.about__logo {
  margin: 0 95px;
  padding: 63px 46px;
  background-color: black;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  padding: 0 50px 90px;
}

.footer__address {
  padding-right: 15.5%;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: auto;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex: 0 0 auto;
  justify-content: end;
  width: 33.3%;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
